.wrapper {
    position: fixed;
    width: 40vw;
    right: 0;
    top: 0;
    z-index: 5;
    background: white;
    overflow-y: scroll;
    transition: .6s;
    font-family: "Ubuntu", arial;
    border-radius: 40px 0 0 40px;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.wrapper h1 {
    position: relative;
    color: black;
    font-size: calc(24px + (16 + 16 *0.7) * ((100vw - 320px) / 1280));
    margin-top: 50px;
}

.items {
    width: 90%;
}

.orderPrice {
    color: black;
    font-size: 2vw;
}

.checkout {
    margin: 10px 10px 30px 10px;
    padding: 10px;
    color: green;
    border-radius: 50px;
    box-shadow: 0 1px black;
    cursor: pointer;
    font-size: calc(10px + (16 + 16 *0.7) * ((100vw - 320px) / 1280));
    border: 2px solid green;
    background: none;
    text-decoration: none;
}

.checkout:hover {
    background: green;
    box-shadow: none;
    color: white;
}

.absenceItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    
}
.absenceItems p{
    text-decoration: underline;
}
.absenceItems img{
    width: 40%;
}