div.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    top: 0;
}

.fon {
    width: 100%;
    height: 100%;
    background: url("https://images.theconversation.com/files/293774/original/file-20190924-54793-157i3zo.jpg?ixlib=rb-1.1.0&rect=0%2C215%2C4971%2C2485&q=45&auto=format&w=1356&h=668&fit=crop");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    filter: grayscale(100%);
    opacity: .3;
}

.slider {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 80vw;
    height: 70vh;
}

.slider h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'pacifico';
    font-weight: 100;
    color: white;
    font-size: 300%;
    margin-top: 0;
}

.slider .prev {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 250%;
    cursor: pointer;
    outline: none;
}

.slider .prev.show {
    display: block;
}

.slider .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 250%;
    right: 0;
    cursor: pointer;
    outline: none;
}

.slider .next:hover, .slider .prev:hover {
    background: #24ACF2;
    color: white;
}

.slider .pictures {
    width: 85%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 20px;
}

.slider .pictures div {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 500%;
    height: 100%;
    transition: .6s;
    cursor: grab;
}
.slider .pictures div img {
    position: relative;
    width: calc(10% - 20px);
    height: 100%;
    border-radius: 10px;
    margin-right: 20px;
    transition: .3s;
}

.slider .pictures div img:hover {
    opacity: .4;
}

.slider .btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}

.slider .btn button {
    width: 50px;
    height: 10px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    transition: .6s;
    box-shadow: inset 1px 1px 3px black;
}

.slider .btn button:hover {
    background: #000;
}

.btn button.active {
    background: #24ACF2;
    width: 100px;
    box-shadow: none;
}

.tagline {
    position: absolute;
    width: 100vw;
    height: 10%;
    background: white;
    bottom: 0;
    left: 0;
}

.tagline h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    font-size: 250%;
}